
.cart-container, .cart-container-empty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
    width: 100%;
    height: 60vh;
    padding: 0 5vw;
  }
  
  .cart-container .cart, .cart-container-empty .cart {
    width: 100%;
    -webkit-box-shadow: 0px 0px 4px 3px #1f2226;
            box-shadow: 0px 0px 4px 3px #1f2226;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .cart-container .cart .cart-columns, .cart-container-empty .cart .cart-columns {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 7vh;
    background-color: #E6C2A8;
  }
  
  .cart-container .cart .cart-columns p, .cart-container-empty .cart .cart-columns p {
    color: #ffffff;
    width: 10vw;
    text-align: center;
  }
  
  .cart-container .cart .cart-columns p:first-child, .cart-container-empty .cart .cart-columns p:first-child {
    width: 2vw;
    text-align: start;
  }
  
  .cart-container .cart .cart-items, .cart-container-empty .cart .cart-items {
    min-height: 40vh;
    max-height: 70vh;
    background-color: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .cart-container .cart .cart-items::-webkit-scrollbar, .cart-container-empty .cart .cart-items::-webkit-scrollbar {
    width: 7px;
  }
  
  .cart-container .cart .cart-items::-webkit-scrollbar-thumb, .cart-container-empty .cart .cart-items::-webkit-scrollbar-thumb {
    background-color: #ffffff;
  }
  
  .cart-container .cart .cart-total, .cart-container-empty .cart .cart-total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 5px;
    height: 7vh;
    background-color: #E6C2A8;
  }
  
  @media screen and (min-width: 540px) {
    .cart-container .cart .cart-total, .cart-container-empty .cart .cart-total {
      padding: 0 25px;
    }
  }
  
  .cart-container .cart .cart-total .total-amount, .cart-container-empty .cart .cart-total .total-amount {
    color: #ffffff;
    width: 60%;
    margin-top: 20px;
    text-align: center;
    font-weight: 800;
  }
  
  @media screen and (min-width: 840px) {
    .cart-container .cart .cart-total .total-amount, .cart-container-empty .cart .cart-total .total-amount {
      font-size: 2rem;
    }
  }
  
  .cart-container .cart .cart-total .btn, .cart-container-empty .cart .cart-total .btn {
    color: #ffffff;
    font-weight: 600;
    background-color: green;
    min-width: 20%;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  @media screen and (max-width: 840px) {
    .cart-container .cart .cart-total .btn, .cart-container-empty .cart .cart-total .btn {
      font-size: .7rem;
    }
  }
  
  .cart-container-empty {
    background-color: #ffffff;
  }
  
  .cart-container-empty .empty-cart-title {
    color: #000000;
    line-height: 50px;
    text-align: center;
  }
  
  
  
  .cart-container-empty .backToLanding-btn {
    color: #ffffff;
    font-weight: 600;
    background-color: green;
    height: 10vh;
  }

  .cart-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 60px;
    height: auto;
    width: 100%;
    padding: 5px;
    -webkit-transition: 1s all;
    transition: 1s all;
  }
  
  .cart-item .item {
    min-width: 10vw;
    max-width: 10vw;
    text-align: center;
  }
  
  .cart-item .item-name {
    font-size: .8rem;
    white-space: wrap;
  }
  
  @media screen and (min-width: 540px) {
    .cart-item .item-name {
      font-size: 1rem;
    }
  }
  
  .cart-item .item-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: 100%;
  }
  
  .cart-item .delete-item {
    cursor: pointer;
    color: #7A7A7A;
    min-width: 1px;
    max-width: 2vw;
  }
  
  .cart-item .delete-item:hover {
    color: #d82f2f;
  }
